* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "titulo2";
  src: url(../fonts/Golden\ Bloom\ Regular.ttf);
}
@font-face {
  font-family: "textoIcons";
  src: url(../fonts/Best\ Love\ Italic\ DEMO.ttf);
}

.nav-item a {
  width: 100%;
  color: #96c29f;
  font-size: 20px;
  border-radius: 30px;
  padding: 5px 10px;
  font-family: "textoIcons";
}
.nav-item a:hover {
  transition: all 0.2s ease;
  padding: 5px 10px;
  background-color: #de2889;
  color: #ffff;
  border-radius: 30px;
  font-size: 25px;
  cursor: pointer;
}

.titulo {
  margin: 0 auto;
  margin-top: 20px;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-bottom: 40px;
}

.titulo p {
  width: 100%;
  margin: 0 auto;
}

.titulo .textoTitulo {
  width: auto;
  grid-column: 2;
  grid-row: 2;
}

.titulo .SubTitulo1 {
  grid-column: 2;
  font-weight: bold;
  color: #96c29f;
  font-size: 20px;
  margin-bottom: -25px;
}

.titulo .SubTitulo2 {
  font-family: titulo2;
  color: #de2889;
  font-size: 60px;
}

.titulo .SubTitulo3 {
  grid-column: 2;
  grid-row: 3;
  font-weight: bold;
  color: #96c29f;
  font-size: 20px;
  text-align: end;
  margin-top: -25px;
}

.titulo img {
  grid-row: 2;
  width: 60%;
}

/* SECTION2 */

.section2 {
  background-color: #96c29f;
  display: grid;
  margin: 0 auto;
  margin-top: 50px;
  grid-template-columns: 1fr 1fr 50%;
  padding: 5%;

  align-content: center;
  align-items: flex-start;
  /* align-items: center; */
  gap: 50px;
}

.section2 img {
  width: 100%;
}

/*-----------------VERSION MOBILE!--------------------  */
@media (max-width: 390px) {

  img{
    width: 100%;
  }

  .titulo {
    margin-top: 30px;
    margin-bottom: 30px;
  
  }
  .titulo .SubTitulo1 {
    grid-column: 2;
    font-weight: bold;
    color: #96c29f;
    font-size: 15px;
    margin-bottom: -25px;
  }

  .titulo img {
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }

  . p {
    width: 100%;
    margin: 0 auto;
    font-size: 20px;

  }

  .titulo .SubTitulo2 {
    font-family: titulo2;
    color: #de2889;
    font-size: 31px;
    margin: 15px;
  }

  .titulo .SubTitulo3 {
    font-weight: bold;
    color: #96c29f;
    font-size: 15px;
    text-align: end;
    margin-top: -25px;
  }

  .section2{
    grid-template-columns: 1fr;
    gap: 0px;
  }
  .section2 img{
    width: 100%;
  }

  .body img{
    width: 10%;
  }
  
}
