
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: "titulo2";
    src: url(../fonts/Golden\ Bloom\ Regular.ttf);
  }
  

  .Contenido{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .titulo{
    margin-top: 20px;
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-left: 30%;
    margin-right: 30%;
  } 

  .titulo .textoTitulo{
    width: 150%;
    margin-bottom: -60px;
  }

  .titulo .SubTitulo1{
    font-weight: bold;
    color:white;
    background-color: #96c29f;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    text-align: start;
  }

  .titulo .SubTitulo2{
    font-family: titulo2;
    color: #de2889;
    font-size: 60px;
    margin-top: -50px;
    text-align: end;
    padding-right: 20px;
  }

  .Contenido .texto{
    display: grid;
    line-height: 40px;
    color: #5a5c5b;
    font-family: sans-serif;
    justify-items: center;
    background-color: #fff;
    width: 50%;
    margin-top: -140px;
    padding: 50px;
  }

  .texto .SubTitulo3{
    font-weight: bold;
    color: #de2889;
    font-size: 40px;
    padding: 20px;
    text-align: center;
    text-align: start;
  }

  .texto .SubTitulo4{
    font-family: titulo2;
    color: #96c29f;
    font-size: 60px;
    margin-top: -30px;
    padding-left: 100px;
  }

  .texto .SubTitulo5{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color: #414342;
    line-height: 30px;
    font-family: sans-serif;
  }

  .texto .SubTitulo6{
    margin-top: 30px;
    line-height: 30px;
  }


  
  /* imagen */
  .Contenido .box{  
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .Contenido .box img{
    width: 60%;
    padding: 30px;
  }

  .Contenido .precios{
    display: grid;
    justify-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
  }

  .titulo3{
    color: #de2889;
    font-weight: bold;
    font-style: italic;
  }

  .titulo4{
    font-weight: bold;
    color: #686c6a;
  }

  .titulo5{
    margin-top: -20px;
    margin-bottom: 30px;
    font-size: 50px;
    font-family: sans-serif;
    font-style: bold;
    color: #de2889;
  }

  .titulo7{
    font-size: small;
    font-style: italic;
    color: #686c6a;
  }


  /*-----------------VERSION MOBILE!--------------------  */
@media (max-width: 390px) {
    .titulo{
        margin-top: 20px;
        display: grid;
        justify-items: center;
      }
    
      .titulo .SubTitulo1{
        font-weight: bold;
        color:white;
        background-color: #96c29f;
        font-size: 20px;
        padding: 15px;
      }
    
      .titulo .SubTitulo2{
        font-family: titulo2;
        color: #de2889;
        font-size: 45px;
        margin-top: -40px;
      }
    
     .secction{
        display: grid;
        grid-template-columns: 1fr;
        padding: 8%;
        margin-top: -20px;
        justify-content: center;
        justify-items: center;
        align-items: center;
        background-color: #f8f5de;
      }
    
      .secction .texto{
        line-height: 30px;
        color: #5a5c5b;
        font-family: sans-serif;
      }
    
      .Contenido .box img{
        height: auto;
        width: 100%;
        padding: 10%;
      }
    

